{{#if addNewPost}}
<h3>Add New Post</h3>

<form class="new-post">
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    {{input value=author id="author" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    {{input value=image id="image" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    {{input value=text id="text" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="topic">Topic</label>
    {{input value=topic id="topic" class="form-control"}}
  </div>
  <button {{action 'saveNewPost'}}>Complain</button>
</form>
{{else}}
<button {{action 'showAddPostForm'}}>New Post</button>
{{/if}}
