{{#if addNewComment}}
<h3>Add New Comment</h3>

<form class="new-comment">
  <div class="form-group">
    <label for="author">Author</label>
    {{input value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="content">Comment</label>
    {{input value=content id="content"}}
  </div>
  <button {{action 'saveComment' parent}}>Save</button>
</form>
{{else}}
  <button {{action 'commentFormShow'}}>Reply</button>
{{/if}}
