<div class="post">
  <img src="{{post.image}}">
  <h4>{{post.title}}</h4>
  <p><strong>{{post.author}}</strong></p>
  <h5>in {{post.topic}}</h5>
  <p>{{post.text}}</p>
</div>

<div class="comments">
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</div>

<button {{action 'destroyPost1' post}}>Delete</button>
