<div class="post">
  <img src="{{post1.image}}">
  {{#link-to "post" post1.id}}
  <h4>{{post1.title}}</h4>
  {{/link-to}}
  <p><strong>{{post1.author}}</strong></p>
  <h5>in {{post1.topic}}</h5>
  <p>{{post1.text}}</p>
</div>
